<div class="bottom-promote-bar">
  <div class="share-post">
    <span>Share post:</span>
    <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <span class="hidden">Twitter</span>
    </a>
    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <span class="hidden">Facebook</span>
    </a>
    <a class="linkedin-icon" href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
    onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;">
      <span class="hidden">LinkedIn</span>
    </a>
  </div>

  <!-- Begin MailChimp Signup Form -->

  <div id="mc_embed_signup">
  <form action="//teamtailor.us4.list-manage.com/subscribe/post?u=8e2888a69b4a1f405f31c958d&amp;id=cd387b587b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Subscribe to our blog</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8e2888a69b4a1f405f31c958d_cd387b587b" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
  </div>

  <!--End mc_embed_signup-->

</div>
