{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head no-cover">
  <nav class="main-nav clearfix">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    <a class="visit-tt" href="http://www.teamtailor.com">Visit Teamtailor</a>
  </nav>
</header>

{{navigation}}

<a class="subscribe-button icon-feed diff" href="{{@blog.url}}/rss/">Subscribe</a>

<main class="content" role="main">

  <article class="{{post_class}}">

    <header class="post-header">
      <h1 class="post-title">{{title}}</h1>
      <section class="post-meta">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
      </section>
    </header>

    <section class="post-content">
      {{#if image}}
        <p>
          <img src={{image}} />
        </p>
      {{/if}}

      {{content}}
    </section>

    <footer class="post-footer">

      {{! Everything inside the #author tags pulls data from the author }}
      {{#author}}

      {{#if image}}
      <figure class="author-image">
        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
      </figure>
      {{/if}}

      <section class="author">
        <h4><a href="{{url}}">{{name}}</a></h4>

        {{#if bio}}
        <p>{{bio}}</p>
        {{else}}
        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
        <div class="author-meta">
          {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
          {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
        </div>
      </section>

      {{/author}}

      <section class="share">
        <h4>Share this post</h4>
        <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <span class="hidden">Twitter</span>
        </a>
        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <span class="hidden">Facebook</span>
        </a>
        <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <span class="hidden">Google+</span>
        </a>
      </section>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'example'; // required: replace example with your forum shortname
          var disqus_identifier = '{{post.id}}';
          var disqus_identifier = 'ghost-{{id}}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      <div class="top-promote-bar">
        <span>The world's smartest companies use Teamtailor</span>
        <a href="//fast.wistia.net/embed/iframe/49artp5w57?popover=true" class="see-why wistia-popover[height=400,playerColor=ef5469,width=640]">See why</a>
        <a href="http://www.teamtailor.com" title="Visit Teamtailor">Learn more</a>
      </div>

      <div class="bottom-promote-bar">
        <div class="share-post">
          <span>Share post:</span>
          <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="hidden">Twitter</span>
          </a>
          <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="hidden">Facebook</span>
          </a>
        </div>
        <a href="http://www.teamtailor.com" class="promote-us">Learn about Teamtailor</a>
      </div>

    </footer>

  </article>

  <section class="call-to-action">
    <h2>Join over <strong>2800</strong> successful<br> recruiters — use Teamtailor</h2>
    <p>You’re just one step away. Easy to set up, easy-to-use.</p>
    <div class="btn-wrapp">
      <a class="btn" href="http://teamtailor.com">Learn about Teamtailor</a>
    </div>
  </section>

</main>

{{/post}}
